(
    name: "Config name",
    unit: (),
    angelface: 'A',
    integer: 100,
    float: 100.1,
    is_true: true,
    nothing: None,
    something: Some(10),
    empty: [],
    countdown: [3, 2, 1],
//     tuple: (1, 2, 3),            // Why doesn't this work??
//     points: [(0, 0), (1, 1)],    // Ditto
    structure: (
        name: "Doesn't have one, sadly.",
        status: "Naw too bad."
    ),
    objects: [
        (
            name: "Thing 1",
            index: 0
        ),
        (
            name: "Thing 2",
            index: 1
        )
    ]
)
